@import "../../styles/mixin";

.OrderPay-page {
  @include wh(100%, 100%);

  .order_top_view{
    @include fc;
    background-color: white;
    width:100%;
    margin-top: 2px;
    padding-top: 26px;
    padding-bottom:26px;
    padding-left: 20px;
  }
  .textarea{
    margin-top: 20px;
    width: 600px;
  }
  .top_left_view{
    @include fc(flex-start);
    margin-left: 20px;
  }
  .right_image{
    @include wh(30px, 20px);
    margin-right: 20px;
  }
  .left_name{
    @include sc(32px,#1c1c1c);
    font-weight: bold;
  }
  .left_name2{
    @include sc(32px,#1c1c1c);
    font-weight: bold;
    margin-left: 20px;
  }
  .left_phone{
    @include sc(32px,#1c1c1c);
    margin-top: 8px;
  }
  .left_phone2{
    @include sc(32px,#1c1c1c);
    margin-right: 20px;
  }
  .message_view_top{
    @include fr(center);
    background-color: white;
    width:100%;
    margin-top: 10px;
    padding-top: 16px;
    padding-bottom:16px;
  }
  .message_view{
    width:100%;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: white;
  }
  .list_view{
    @include fr(center);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .list_btn_img{
    width:300px;
    height:100px;
    margin-right: 6px;
  }
  .list_view_right{
    @include fc(flex-start);
  }
  .intro_text{
    @include sc(32px,#1c1c1c);
  }
  .right_view_middle{
    @include fr(center);
    width:100%;
    margin-top: 5px;
  }
  .price_text{
    @include sc(30px,#E54A2E);
    margin-right: 25px;
    font-weight: bold;
  }
  .origin_price_text{
    @include sc(32px,#1c1c1c);
    text-decoration-line: line-through
  }
  .count_text{
    @include sc(32px,#1c1c1c);
    font-weight: bold;
  }
  .count_text1{
    @include sc(36px,#1c1c1c);
    font-weight: bold;
  }
  .use_btn_view{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 25px;
    border-radius: 2px;
    background-color: #F78181;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
  }
  .use_text{
    @include sc(28px,white);
  }
  .freight_text{
    @include sc(28px,#1c1c1c);
  }
  .freight_text2{
    @include sc(28px,#1c1c1c);
    margin-left: 20px;
  }
  .detail_view{
    @include fc(flex-start);
    width:100%;
    background-color: white;
    margin-top: 2px;
  }
  .price_text2{
    @include sc(28px,#E54A2E);
    font-weight: bold;
    margin-right: 20px;
  }
  .remarks_view{
    @include distance(20px,20px);
    padding-top:20px;
    padding-bottom: 30px;
  }
  .bottom_view{
    @include fr(center);
    background-color: white;
    width:100%;
    height:100px;
    position:fixed;
    bottom:0;
    z-index: 999;
  }
  .pay_view{
    width:200px;
    height:80px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF0000;
    margin-right: 20px;

  }
  .pay_text{
    @include sc(32px,white);
  }
}
